<center><h1 class="new_event" style="text-align:center;font-family:'Lato', sans-serif;">New Event</h1></center>
<div class="panelne">
<%= render 'form', event: @event %>

<%= link_to 'Back', events_path %>
</div>
