<div class="row">
  <div class="col-xs-12">
    <div class="jumbotron">
      <%= current_user.username %>


    </div>




  </div>
</div>





<!-- row 2 -->

<div class="row">
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
    <p>My Account</p>
    <% @user_events.each do |ue|%>
      <h1>Event: <%= ue.event.title%></h1>
      <%= ue.hours %>
    <% end %>
    </div>
    Total: <%= current_user.hours %>
</div>

  </div>
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-body">
    <p>What am I doing?</p>
  </div>
</div>
  </div>
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
    <p>Follow</p>
  </div>
</div>

  </div>
</div>
<!-- row 3 -->
<div class="row">
  <div class="col-xs-3 col-xs-offset-9">
    <div class="panel panel-default">
      <div class="panel-body">
    <p>Popular events</p>
  </div>
</div>

  </div>
</div>
