/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: lightblue;
}

td, th {
    padding: 10px;
}

/////profile page/////
.hrs_title {
  text-align: center;
}

.hrs_total {
  text-align: center;
}

.jumbotron {
  padding-top: 10px;
  padding-bottom: 10px;
}

input[type=submit] {
  width: 200px !important;
}
////////////////////

#givup {
	width: 481px;
	height: 195px;
  margin: 0 auto;
	font-family: lazer84;
	font-size: 144px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #fd2ec4;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#givup .text-style-1 {
	font-size: 174px;
}

#misclinks{
  color: white;
}

input[type=submit]{
  border: 0;
  color: white;
  width: 297px;
	height: 42px;
	background-color: #4f94c1;
}

.form {
  text-align: center
}

.input {
  /* Field: */
  width: 297px;
	height: 42px;
  margin: 0 auto;
  background: #FFFFFF;
  border: 1px solid #979797;
  /* Text: */
  font-family: PTSans-Caption;
  font-size: 20px;
  color: rgba(0,0,0,0.50);
  }

  .field-remember{
    color: white;
  }

.misclinks{
  color: white;
}

.combined-shape {
	background-color: rgba(95, 97, 117, 0.69);
	box-shadow: 0 0 25px 0 rgba(58, 75, 120, 0.78), inset 0 1px 3px 0 rgba(0, 0, 0, 0.5), inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}
