// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carousel-inner{
  padding-top: 1%;
}

.carousel-control.left{
  background: transparent;
}

.carousel-control.right{
  background: transparent;
}

.event_header{
  color: white;
}

.card-img-top {
  width: 100%;
}

.col-sm-4{
  padding-bottom: 3%;
}
